@use 'variables' as v;

@mixin phone {
    @media (min-width: v.$phone) { 
        @content; 
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) { 
        @content; 
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) { 
        @content; 
    }
}

@mixin desktop-large {
    @media (min-width: v.$desktop-large) { 
        @content; 
    }
}

@mixin grid($cols, $gap: 0) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    gap: $gap;
}

@mixin resetearLista {
    margin: 0;
    padding: 0;
    list-style: none;
}