//FUENTES
$fuente_principal : 'Monserrat', sans-serif;

//COLORES
$menta : #4CB8B3;
$rosa : #F53756;
$amarillo : #FEF46D;
$morado : #752F97;
$negro : #000000;
$blanco : #FFFFFF;

//MEDIA QUERIES
$phone : 480px;
$tablet : 768px;
$desktop : 1024px;
$desktop-large : 1200px;