@use 'base/mixins' as m;
@use 'base/variables' as v;

.boletos{
    padding: 5rem 0;
    h3{
        text-align: center;
        color: v.$blanco;
    }

    .contenedor-boletos{
        
        @include m.tablet{
            @include m.grid(2, 5rem);
        }
    }
}